div {
  background: aquamarine;
  font-family: Georgia, "Times New Roman", Times, serif;
}
div:hover {
  background: red;
  cursor: pointer;
}
.box {
  width: 150px;
  height: 150px;
}
#item,
p {
  color: brown;
}
div p {
  background-color: yellow;
  color: blue;
}
span {
  background-color: red;
}
